{{ if eq .chezmoi.os "linux" }}
["ext_src/lastpass-cli"]
  type = "git-repo"
  url = "https://github.com/LastPass/lastpass-cli.git"
  depth = 1
["ext_src/alacritty"]
  type = "git-repo"
  url = "https://github.com/alacritty/alacritty"
  depth = 1
["ext_src/nvim"]
  type = "archive"
  url = "https://github.com/neovim/neovim/releases/latest/download/nvim-linux64.tar.gz"
{{ end }}
