[core]
	editor = nvim
[color]
  ui = true
[help]
  autocorrect = 30
[alias]
  # simples
  co = checkout
  cm = commit --verbose
  rbm = pull origin master --rebase
  cma = ! git add . && git cm
  cm-temp = commit -m 'temp commit'

  # new branch to push
  upstream = !git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD)

  # oops
  amend = commit --amend -C HEAD
  p-force = push --force-with-lease
  fooked =! git add . && git amend && git p-force

  ls = !bash -c 'gitcheckout'
  pretty = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  diffnames =! git diff-tree -r --no-commit-id --name-only $(git log -1 --format="%H") origin/master

  hide = update-index --assume-unchanged
  hidden = !git ls-files -v | grep \"^[a-z]\"
  unhide = update-index --no-assume-unchanged
  unhide-all = update-index --really-refresh

  # print this section
  alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
[user]
  name = JacobGDG
  email = {{ (index (lastpass "Gmail") 0).username }}
[pull]
  rebase = false
