[core]
	editor = nvim
[color]
  ui = true
[help]
  autocorrect = 30
[alias]
  pretty = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  co = checkout
  cm = commit --verbose
  cm-temp = commit -m 'temp commit'
  amend = commit --amend -C HEAD
  upstream = !git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD)
  p-force = push --force-with-lease
  rbm = rebase -i master
  fooked =! git add . && git amend && git p-force
  ls = !bash -c 'gitcheckout'
  alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
  diffnames =! git diff-tree -r --no-commit-id --name-only $(git log -1 --format="%H") origin/master
  cma = ! git add . && git cm
[user]
  name = JacobGDG
  email = {{ (index (lastpass "Gmail") 0).username }}
[pull]
  rebase = false
