{{ if .has_p10k }}
# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi
{{ end }}

export EDITOR=nvim
bindkey '^R' history-incremental-search-backward

{{ if eq .chezmoi.os "darwin" }}
export PATH="/opt/homebrew/bin:$PATH"
{{ end }}

export PATH="$HOME/.local/bin:$PATH"
export PATH="$HOME/.scripts:$PATH"

# source .cargo/env if it exists
[ -f "$HOME/.cargo/env" ] && source $HOME/.cargo/env
# source .aliases if it exists
[ -f "$HOME/.aliases" ] && source $HOME/.aliases
[ -f "$HOME/.aliases.local" ] && source $HOME/.aliases.local || touch $HOME/.aliases.local
# source .zshenv if it exists, else create it
[ -f "$HOME/.zshenv" ] && source $HOME/.zshenv || touch $HOME/.zshenv
[ -f "$HOME/.zshenv.local" ] && source $HOME/.zshenv.local || touch $HOME/.zshenv.local

if command -v pyenv 1>/dev/null 2>&1; then
  eval "$(pyenv init -)"
fi

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

setopt AUTO_PUSHD                  # pushes the old directory onto the stack
setopt PUSHD_MINUS                 # exchange the meanings of '+' and '-'
setopt PUSHD_IGNORE_DUPS           # do not store duplicates in the stack
setopt CDABLE_VARS                 # expand the expression (allows 'cd -2/tmp')
autoload -Uz compinit && compinit  # load + start completion

source $HOME/.scripts/completion.sh

{{ if .has_p10k }}
source ~/.p10k/powerlevel10k.zsh-theme

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh
{{ end }}
