#!/bin/sh

{{ if eq .chezmoi.os "darwin" -}}
brew install neovim ripgrep tmux font-hack-nerd-font zsh gnupg tmuxinator
{{ else if eq .chezmoi.os "linux" }}
sudo apt update
sudo apt upgrade

# libevent-dev is needed for tmux
sudo apt install neovim ripgrep zsh lastpass-cli libevent-dev

# tmux
cd ~/.tmux
sh autogen.sh
./configure
make && sudo make install

cd ~

{{ if .home_vpn }}
sudo apt install wireguard
{{ end }}
{{ end }}

PROFILE=/dev/null NODE_VERSION=17 curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.3/install.sh | bash

lpass login {{ .lastpass_email }}
